<footer class="page-footer font-small bg-secondary pt-4 ">
    <div class="container ">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h3 class="text-white ">Rua da Educação | </h3>
                
                <h3 class="text-white">(11) 1234-5678 | </h3><br>
                
                <h3 class="text-white">educasocial@educasocial.com.br </h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="net">
                    <li>
                        <a href="" target="_blank" class="icoFacebook"> <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a href="" target="_blank" class="icoInstagrem"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </li>

                    <li>
                        <a href="" target="_blank" class="icoTwitter"> <i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                    </li>

                </ul>
            </div>
        </div>





    </div>-

    <div class="footer-copyright bg-dark text-center py-1">
        <span class="text-light">© 2021 Copyright </span>
        <a  class="text-light" target="_blank " href="https://educasocial.com.br">educasocial.com.br </a>
    </div>

</footer>
